$listview-text-color: rgba($grey-light-font, .87);
$listview-text-disabled: $grey-light-font;
$listview-icon-color: rgba($grey-light-font, .54);
$listview-icon-disabled: $grey-light-font;
$listview-background: $grey-white;
$listview-background-hover: $grey-200;
$listview-background-selection: $grey-100;
$listview-line-color: $grey-black;
$listview-header-text-color: rgba($grey-light-font, .87);
$listview-header-text-disabled: $grey-light-font;
$listview-header-bg: $grey-white;
$listview-header-icon-color: $grey-light-font;
$listview-header-icon-disabled: $grey-light-font;
$listview-header-border: rgba($grey-black, .12);
$listview-groupheader-text-color: rgba($grey-light-font, .54);
$listview-groupheader-bg: $grey-50;
$listview-groupheader-border: $grey-black;
$listview-groupheader-icon: $grey-light-font;
$listview-border-size: 0;
$listview-font-size: 15px;
$listview-header-font-size: 20px;
